{{ 'dev-theme-option.css' | asset_url | stylesheet_tag }}

<div class="dev-theme-option-wrapper {{ class }}" {{ data_attributes }}>
  <div class="dev-theme-option">
    {% if is_custom_upload %}
      <div class="dev-theme-option--custom-upload">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path d="M21.6667 33.3333H10C9.55833 33.3333 9.13417 33.1575 8.82167 32.845C8.50917 32.5325 8.33333 32.1083 8.33333 31.6667V8.33333C8.33333 7.89167 8.50917 7.4675 8.82167 7.155C9.13417 6.8425 9.55833 6.66667 10 6.66667H18.3333V11.6667C18.3333 12.1083 18.5092 12.5325 18.8217 12.845C19.1342 13.1575 19.5583 13.3333 20 13.3333H28.3333V20C28.3333 20.4417 28.5092 20.8658 28.8217 21.1783C29.1342 21.4908 29.5583 21.6667 30 21.6667C30.4417 21.6667 30.8658 21.4908 31.1783 21.1783C31.4908 20.8658 31.6667 20.4417 31.6667 20V14.9C31.6533 14.7467 31.6267 14.596 31.5867 14.45V14.3C31.5217 14.1275 31.4283 13.9697 31.31 13.8333L21.25 3.83333C21.1133 3.702 20.9555 3.59467 20.7833 3.51667C20.7333 3.50867 20.6833 3.50867 20.6333 3.51667C20.4633 3.42033 20.2767 3.358 20.0833 3.33333H10C8.80833 3.33333 7.735 3.86033 7.02667 4.56867C6.31833 5.277 5.79167 6.35033 5.79167 7.54167V31.6667C5.79167 32.858 6.31833 33.9313 7.02667 34.6397C7.735 35.348 8.80833 35.875 10 35.875H21.6667C22.1083 35.875 22.5325 35.6992 22.845 35.3867C23.1575 35.0742 23.3333 34.65 23.3333 34.2083C23.3333 33.7667 23.1575 33.3425 22.845 33.03C22.5325 32.7175 22.1083 32.5417 21.6667 32.5417ZM21.6667 9.01667L25.9833 13.3333H23.3333C22.8917 13.3333 22.4675 13.1575 22.155 12.845C21.8425 12.5325 21.6667 12.1083 21.6667 11.6667V9.01667ZM13.3333 13.3333C12.8917 13.3333 12.4675 13.5092 12.155 13.8217C11.8425 14.1342 11.6667 14.5583 11.6667 15C11.6667 15.4417 11.8425 15.8658 12.155 16.1783C12.4675 16.4908 12.8917 16.6667 13.3333 16.6667H15C15.4417 16.6667 15.8658 16.4908 16.1783 16.1783C16.4908 15.8658 16.6667 15.4417 16.6667 15C16.6667 14.5583 16.4908 14.1342 16.1783 13.8217C15.8658 13.5092 15.4417 13.3333 15 13.3333H13.3333ZM23.3333 20H13.3333C12.8917 20 12.4675 20.1758 12.155 20.4883C11.8425 20.8008 11.6667 21.225 11.6667 21.6667C11.6667 22.1083 11.8425 22.5325 12.155 22.845C12.4675 23.1575 12.8917 23.3333 13.3333 23.3333H23.3333C23.775 23.3333 24.1992 23.1575 24.5117 22.845C24.8242 22.5325 25 22.1083 25 21.6667C25 21.225 24.8242 20.8008 24.5117 20.4883C24.1992 20.1758 23.775 20 23.3333 20ZM34.5167 28.85L30.5167 25.5167C30.3583 25.3317 30.1717 25.2127 29.9667 25.1333C29.5617 24.9667 29.105 24.9667 28.7 25.1333C28.495 25.2127 28.3083 25.3317 28.15 25.5167L25.15 28.5167C24.8367 28.83 24.6592 29.2225 24.6592 29.6667C24.6592 30.1108 24.8367 30.5033 25.15 30.8167C25.4633 31.13 25.8558 31.3067 26.3 31.3067C26.7442 31.3067 27.1367 31.13 27.45 30.8167L27.6667 30.6V34.1667C27.6667 34.6083 27.8425 35.0325 28.155 35.345C28.4675 35.6575 28.8917 35.8333 29.3333 35.8333C29.775 35.8333 30.1992 35.6575 30.5117 35.345C30.8242 35.0325 31 34.6083 31 34.1667V30.6L31.2167 30.8167C31.305 30.905 31.4058 30.9767 31.5158 31.0283C31.6258 31.08 31.7433 31.1108 31.8633 31.1192C32.0033 31.1192 32.1417 31.08 32.2658 31.0033C32.39 30.9267 32.4967 30.815 32.5767 30.6783C32.6567 30.5417 32.7083 30.3842 32.7283 30.2183C32.7483 30.0525 32.7367 29.8817 32.6933 29.72C32.65 29.5583 32.5767 29.4083 32.4767 29.28L34.5167 28.85ZM20 29.1667C20.4417 29.1667 20.8658 28.9908 21.1783 28.6783C21.4908 28.3658 21.6667 27.9417 21.6667 27.5C21.6667 27.0583 21.4908 26.6342 21.1783 26.3217C20.8658 26.0092 20.4417 25.8333 20 25.8333H13.3333C12.8917 25.8333 12.4675 26.0092 12.155 26.3217C11.8425 26.6342 11.6667 27.0583 11.6667 27.5C11.6667 27.9417 11.8425 28.3658 12.155 28.6783C12.4675 28.9908 12.8917 29.1667 13.3333 29.1667H20Z" fill="currentColor"/>
        </svg>
      </div>
    {% elsif color %}
      <div class="dev-theme-option--color" style="background-color: {{ color }};">
        {% comment %} show the color in the option {% endcomment %}
      </div>
    {% elsif image %}
      <img
        src="{{ image | image_url: width: 400 }}"
        alt="{{ text | escape }}"
        width="100%"
        height="100%"
        class="dev-theme-option--preview-image dev-theme-option--image"
        loading="lazy"
      >
    {% endif %}
  </div>
  {% render 'dev-ui', type: 'p', content: text, class: 'dev-theme-option__text' %}
</div>
