{%- style -%}
  .container-our-promise {
    max-width: 1222px;
    border-radius: 30px;
    margin: 0 auto;
    padding: 50px 0 53px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-our-promise {
    object-fit: cover;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    margin-bottom: 20px;
  }
  .description-our-promise {
    line-height: 120%;
    font-family: Futura Hv BT, Roundo, sans-serif;
    font-weight: 400;
    color: #090909e5;
    max-width: 900px;
    font-size: 60px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .description-our-promise em {
    font-style: normal;
  }
  .description-our-promise strong {
    color: #67b7a8;
  }
  .title-our-promise {
    font-family: Roundo, Arial, sans-serif;
    font-weight: 500;
    color: #090909cc;
    padding: 10px 10px 0px;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    line-height: 165%;
  }
  @media (max-width: 1439px) {
    .container-our-promise {
      max-width: 900px;
    }
    .img-our-promise {
      width: 89%;
      height: auto;
      object-fit: cover;
    }
    .description-our-promise {
      font-size: 45px;
      max-width: 648px;
    }
  }
  @media (max-width: 1023px) {
    .container-our-promise {
      max-width: 700px;
    }
    .title-our-promise {
      font-size: 16px;
      text-align: left;
    }
    .description-our-promise {
      font-size: 35px;
    }
  }
  @media (max-width: 767px) {
    .img-our-promise {
      height: 367px;
      margin-bottom: 10px;
      width: 350px;
    }
    .section-our-promise {
      padding-left: 10px;
      padding-right: 10px;
    }
    .title-our-promise {
      font-size: 18px;
      padding: 10px;
      width: 93%;
      align-self: flex-start;
    }
    .description-our-promise {
      font-size: 30px;
      text-align: left;
      margin-right: auto;
      padding-left: 10px;
    }
    .container-our-promise {
      padding: 27px 0 20px;
    }
  }
  .section-our-promise{
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .container-our-promise{
    background-image:
    url({{ section.settings.main_banner | image_url }}),
      linear-gradient(rgba(199,221,218,1), rgba(199,221,218,1))
      ;
  }
  @media (max-width: 767px){
    .section-our-promise{
      padding-top: {{ section.settings.padding_top_mob }}px;
      padding-bottom: {{ section.settings.padding_bottom_mob }}px;
    }
    .container-our-promise {
      background-position: center;
      background-size: cover;
    }
  }
{%- endstyle -%}

<section class="section-our-promise">
  <div class="container-our-promise">
    {% if section.settings.main_img != blank %}
      {{
        section.settings.main_img
        | image_url: width: section.settings.main_img.width
        | image_tag: class: 'img-our-promise'
      }}
    {% endif %}
    {% if section.settings.description != blank %}
      <div class="description-our-promise">{{ section.settings.description }}</div>
    {% endif %}
    {% if section.settings.title != blank %}
      <div class="title-our-promise">{{ section.settings.title }}</div>
    {% endif %}
  </div>
</section>
{% schema %}
{
  "name": "Our promise",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_banner",
      "label": "Image banner"
    },
    {
      "type": "image_picker",
      "id": "main_img",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Our promise"
    }
  ]
}
{% endschema %}
